<!DOCTYPE html>
<html lang="en-EN">

<head>
    <title>Card Chain - {{ tag }} #{{ card }}</title>
</head>

<body>

    <h1><p>{{ tag }} - Pomotivam Cards</p></h1>
    <h2><p>Card No. {{ card }} - {{ author }}</p></h2>
    <h3><p>{{ quote }}</p></h3>

    <img src={{ image }} alt="" width="360" height="240"/>

    <p><a href="/prev?card={{card}}">Prev</a> | <a href="/next?card={{card}}">Next</a></p>
    <p>Choose card from <a href="/card?card=1">1</a> .. <a href="/card?card={{len}}">{{len}}</a> </p>

    <form action="/card" method="GET">
        <p>
            Card # <input name="card" type="text" value="{{ len }}"> 
            <input type="submit" value="Get">
        </p>
    </form>

    <p style="color:Tomato;">{{ error }}</p>

    <pre  style="font-family:'Courier New'; font-size:11px"> {{ chain }} </pre>
    <p> <a href="https://t.me/pomotivam_cards">Telegram</a></p>

</body>

</html>
