<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta charset="UTF-8" />

    <title>{{ author }} - Карточка № {{ card }} | Cardchain Pomoticam Cards</title>
    <meta name="description" content="{{ author }} высказал(а) интересную мысль. Эти высказывания служат карточками, передающими суть той или иной идеи." />
    <meta name="keywords" content="{{ author }}, {{ tag }}, высказывания известных людей, карточки с цитатами, quote cards, Pomotivam cards, cardchain">

    <style>
        #raw {
            font-family: "Courier New";
            font-size:11px;
            display:none;
        }
    </style>
    <script>
        function myFunction() {
        var x = document.getElementById("raw");
        if (x.style.display == "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
        }
    </script>
</head>

<body>

    <h1>{{ author }}</h1>
    <h2><em>{{ quote }}</em></h2>
    <p><a href="/static/output-cards/{{card}}.png">Pomotivam Card No. {{ card }}</a></p>

    <img src={{ image }} alt="" width="360" height="240"/>

    <p><a href="/tags?tag={{tag}}">#{{ tag }}</a></p>

    <p><a href="/cards?card={{prev}}">Prev</a> | <a href="/cards?card={{next}}">Next</a></p>
    <p>Choose card from <a href="/cards?card=1">1</a> .. <a href="/cards?card={{len}}">{{len}}</a> </p>

    <form action="/cards" method="GET">
        <p>
            Card # <input name="card" type="text" value="{{ len }}"> 
            <input type="submit" value="Get">
        </p>
    </form>

    <p style="color:Tomato;">{{ error }}</p>

    <button onclick="myFunction()">Show raw</button>
    <pre  id="raw"> {{ chain }} </pre>

    <p>
        <a href="https://t.me/pomotivam_cards">Telegram</a> | 
        <a href="https://github.com/amasl2048/pomotivam-cards">Github</a>
    </p>

</body>

</html>
